@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spicy Rice", system-ui;
}

body {
    background-image: url(../img/japanart.jpg);
    max-width: 400px;
    margin: 0 auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: #FF6347;
}

input {
    padding-left: 4px;
    height: 40px;
    border: 2px solid #FF7F50;
    background-color: #333;
    color: #eee;
    outline: none;
    width: 74%;
}

button {
    padding: 4px;
    border: none;
    height: 44px;
    background-color: #FF7F50;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    width: 90px;
}

button:hover {
    background-color: #FF6347;
    border-radius: 10px;
    height: 48px;
}

button:active {
    background-color: #FF8C00;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #FF7F50;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    cursor: pointer;
}